.background{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    display: block !important;
    height: 100vh !important;
   max-width: 100vw !important;
   margin: 0 !important;
   z-index: -111111;
}
.background svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;

}

.circle {
  fill: #ED412D;
}

.x {
  fill: #FDBD00;
}

.rhombus {
  fill: #2DA94F;
  stroke: #2DA94F;
}

.point {
  fill: #8491A3;
}

.pentahedron {
  position: fixed;
  width: 100%;
  height: 100%;
  fill: #3E82F7;
}

