:root {
  --color-primary: #26262D;
  --color-secondary: #222222;
  --color-trinary: #5FBE7D;
  --text-color : #828282;
  font-family: 'Josefin Sans', sans-serif;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
  color: var(--text-color);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
